*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
}
